*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
}

.hero{
    background:linear-gradient(135deg,#1e3c72,#2a5298);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.btn{
    text-decoration:none;
    background:white;
    color:#1e3c72;
    padding:12px 30px;
    border-radius:30px;
    font-weight:bold;
}

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:60px 20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    text-align:center;
}

.card h2{
    margin-bottom:15px;
    color:#1e3c72;
}

.about{
    text-align:center;
    padding:50px;
    max-width:900px;
    margin:auto;
}

.about h2{
    margin-bottom:20px;
    color:#1e3c72;
}

.about p{
    font-size:18px;
    line-height:1.8;
}

footer{
    background:#1e3c72;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
